*{margin:0;padding:0;box-sizing:border-box;font-family:'Segoe UI',sans-serif;}

body{
  background:linear-gradient(rgba(5,20,40,.9),rgba(5,20,40,.9)),
  url("https://img.freepik.com/free-photo/medical-banner-with-doctor-working-laptop_23-2149611211.jpg");
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  color:white;
}

#network{
  position:fixed;
  inset:0;
  z-index:0;
  pointer-events:none;
}

nav{
  position:fixed;
  width:100%;
  padding:25px 50px;
  display:flex;
  justify-content:space-between;
  z-index:5;
}

.brand{
  font-size:42px;
  font-weight:900;
  color:#4fc3f7;
  text-shadow:0 0 30px #4fc3f7;
}

.hero,.container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  text-align:center;
}

.hero h1{font-size:56px;}
.hero span{color:#ffd600;text-shadow:0 0 20px #ffd600;}

.card{
  background:rgba(0,0,0,.7);
  padding:40px;
  border-radius:20px;
  width:350px;
  box-shadow:0 0 40px rgba(0,183,255,.6);
}

input,button{
  width:100%;
  padding:12px;
  border-radius:25px;
  border:none;
  margin-top:15px;
}

button{
  background:linear-gradient(90deg,#00c6ff,#0072ff);
  color:white;
  font-size:16px;
  cursor:pointer;
  box-shadow:0 0 25px #00c6ff;
}
.top-center-box{
  position:fixed;
  top:60px;
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  z-index:10;
}

.main-brand{
  font-size:56px;
  font-weight:900;
  letter-spacing:4px;
  color:#ffffff;
  text-shadow:
    0 0 25px rgba(79,195,247,.9),
    0 0 60px rgba(79,195,247,.5);
  margin-bottom:30px;
}

.home-btn{
  width:240px;
  padding:14px;
  margin-bottom:15px;
  border:none;
  border-radius:40px;
  background:linear-gradient(90deg,#00c6ff,#0072ff);
  color:white;
  font-size:17px;
  cursor:pointer;
  box-shadow:0 0 25px rgba(0,198,255,.8);
}

.home-btn.outline{
  background:transparent;
  border:2px solid #00c6ff;
}
.form-title{
  font-size:24px;
  margin-bottom:10px;
  color:#90caf9;
}

.login-box{
  display:flex;
  flex-direction:column;
  width:240px;
}
